.main {
  flex: 1;
  width: 100vw;
}

.main__box {
  width: 750px;
  font-size: 16px;
  margin: 15px auto;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 0.5em #bbb;
}

.main__box > h1 {
  font-size: 15px;
  color: #555555;
  padding: 20px 10px;
}

.main__box > p {
  margin-bottom: 20px;
  text-align: left;
  line-height: 25px;
}

.main__box > p > a {
  word-break: break-all;
}

.main__firstPara {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main__firstPara > p {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  line-height: 25px;
}

.main__firstPara > img {
  width: 270px;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 30px;
}

.main__alert {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
  background-color: #bfdeff;
}

.main__alert > p {
  font-weight: bold;
  font-size: 25px;
}

.main__alert > .MuiSvgIcon-root {
  color: #ff7f01;
  background-color: white;
  font-size: 30px;
  border-radius: 50%;
  margin-left: 8px;
}

.main__chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.main__chat > p {
  font-size: 20px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.main__chatBtns {
  display: flex;
  align-items: center;
}

.main__chatBtns > p {
  font-size: 15px;
  font-weight: bold;
  color: #555d65;
}

.main__link {
  color: white;
  text-transform: none;
  font-size: 20px;
  font-weight: 400;
  background: linear-gradient(#80bfff, #017ffe);
  padding: 10px 30px;
  margin: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
}

@media only screen and (max-width: 800px) {
  .main__box {
    width: 95vw;
  }
}

@media only screen and (max-width: 670px) {
  .main__firstPara {
    flex-direction: column;
  }
  .main__alert > p {
    font-size: 20px;
  }
  .main__firstPara > img {
    margin-left: 0;
  }
}

@media only screen and (max-width: 540px) {
  .main__alert > p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 330px) {
  .main__firstPara > img {
    width: 80vw;
  }
}

@media only screen and (max-width: 300px) {
  .main__link {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 240px) {
  .main__link {
    padding: 10px;
  }
}
